*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
    }

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

header h1{
    color: #fff;
    font: 1em;
    padding-top: 50px;
    font-size: 10vh;
}

header p{
    padding-bottom: 23px;
}

.normal{
    padding-top: 10vh;
    padding-left: 5vh;
}

.normal p{
    padding-bottom: 2em;
    font-size: 2em;
}